.text {
  margin: 0 auto;
  padding: 50px;
  text-align: center; 
  color: #1b6872;
  font-size: 4em;
}

.browser-version {
  text-decoration: underline;
  margin: 0 auto;
  text-align: center; 
  color: #fff;
  font-size: 7em;
  text-decoration: underline;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #a5e1dc; 
}

